body {
    background-color: slategray;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.unifrakturmaguntia-regular {
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
}

.uncial-antiqua-regular {
    font-family: "Uncial Antiqua", system-ui;
    font-weight: 400;
    font-style: normal;
}
